!!!
%html

  %head
    %title Tank Mission Control
    %link{:href => "stylesheets/style.css", :rel => "stylesheet", :type => "text/css"}

  %body

    %h1 Tank Mission Control - #{params.inspect}

    #webcams
      #webcam0
        %b Webcam 0
        .webcam
          %noscript
            %img{:src => "/?action=snapshot"}

      #webcam1
        %b Webcam 1
        .webcam
          %noscript
            %img{:src => "/?action=snapshot"}

    #controls
      #movement-control
        %b Movement control
        %br
        %img{:src => "img/dpad.jpg", :alt => "dpad", :usemap => "#movementmap"}
        %map{:name => "movementmap"}
          %area{:shape => "poly", :coords => "0,0,90,90,210,90,300,0,0,0", :href => "?forward", :alt => "Forward"}
          %area{:shape => "poly", :coords => "300,0,300,300,210,210,210,90,300,0", :href => "?right", :alt => "Right"}
          %area{:shape => "poly", :coords => "0,300,90,210,210,210,300,300,0,300", :href => "?reverse", :alt => "Reverse"}
          %area{:shape => "poly", :coords => "0,0,0,300,90,210,90,90,0,0", :href => "?left", :alt => "Left"}
          %area{:shape => "poly", :coords => "90,90,210,90,210,210,90,210,90,90", :href => "?stop", :alt => "Stop"}

      #action-control
        %b Action control
        %br
        %img{:src => "img/dpad.jpg", :alt => "dpad", :usemap => "#actionmap"}
        %map{:name => "actionmap"}
          %area{:shape => "poly", :coords => "0,0,90,90,210,90,300,0,0,0", :href => "?up", :alt => "Up"}
          %area{:shape => "poly", :coords => "300,0,300,300,210,210,210,90,300,0", :href => "?clockwise", :alt => "Clockwise"}
          %area{:shape => "poly", :coords => "0,300,90,210,210,210,300,300,0,300", :href => "?down", :alt => "Down"}
          %area{:shape => "poly", :coords => "0,0,0,300,90,210,90,90,0,0", :href => "?anticlockwise", :alt => "Anti-Clockwise"}
          %area{:shape => "poly", :coords => "90,90,210,90,210,210,90,210,90,90", :href => "?fire", :alt => "Fire"}

    %script{:type => "text/javascript", :src => "js/webcams.js"}
