!!!
%html

  %head
    %title Tank Mission Control
    %link{:href => "stylesheets/style.css", :rel => "stylesheet", :type => "text/css"}

  %body

    %h1 Tank Mission Control

    .webcam
      %noscript
        %img{:src => "/?action=snapshot"}

    #controls
      %form
        #controller
          %img{:src => "img/controller.jpg", :alt => "controller", :usemap => "#controllermap"}
          %map{:name => "controllermap"}
            %area{:shape => "rect", :coords => "140,0,300,140", :href => "?forward", :alt => "Forward"}
            %area{:shape => "rect", :coords => "300,140,440,300", :href => "?right", :alt => "Right"}
            %area{:shape => "rect", :coords => "140,300,300,440", :href => "?reverse", :alt => "Reverse"}
            %area{:shape => "rect", :coords => "0,140,140,300", :href => "?left", :alt => "Left"}
            %area{:shape => "rect", :coords => "140,140,300,300", :href => "?fire", :alt => "Fire!"}
            %area{:shape => "rect", :coords => "0,0,140,140", :href => "?anticlockwise", :alt => "Anti-Clockwise"}
            %area{:shape => "rect", :coords => "300,0,440,140", :href => "?clockwise", :alt => "Clockwise"}
            %area{:shape => "rect", :coords => "0,300,140,440", :href => "?up", :alt => "Up"}
            %area{:shape => "rect", :coords => "300,300,440,440", :href => "?down", :alt => "Down"}
            %area{:shape => "rect", :coords => "0,440,440,590", :href => "?stop", :alt => "Stop"}

          %fieldset
            %label{:for => "sticky"}
              Sticky:
              %input{:name => "sticky", :id => "sticky", :type => "checkbox", :checked => "checked"}
            %label{:for => "time"}
              Time:
              %input{:name => "time"}

    %script{:type => "text/javascript", :src => "js/webcams.js"}
